

#wrapper
{
    padding-top: 0px;
}
.container-fluid
{
    padding-left:0;
    padding-right:0;
}

.sub
{
  
    height: 50px;
      background-image: linear-gradient(to right, rgba(165,42,42,1) , rgba(255,255,255,1));
}

.container
{
padding-left: 0;
padding-right: 0;

}



.list-left
{
float:left;
display : inline;
padding: 10px 10px 10px 0;
cursor: pointer;
}

.list-left a
{
color:white;
}


.right_side 
{
float:right;


}
.right_list
{
display: inline-block;
padding: 10px 10px;
cursor: pointer;
}

.right_list .sign
{
color:black;
text-decoration:none;
width:160px;
height: 40px;
}

.container .a_test
{
color: black;
font-family: sans-serif;
pointer-events: none;

}


.fa
{
color: white;
}




.container:before
{
display:table;
content: "";
}
.container:after
{
display: table;
content:"";
clear:both;
}


#heading
{
background-image: linear-gradient(to right, rgba(255,255,255,1) , rgba(165,42,42,1));
}

#heading img 
{
width:170px;
height: 45px;
padding-top: 6px;
padding-bottom: 2px;
}



#banner .row-fluid:first-child
{
display:none;
display:flex;
}

 #navigation  
 {
margin-left:350px;

 }
 
 .navbar-inner ul
 {
 display:flex;
 list-style:none;
 height:35px;
 }
  .navbar-inner ul li
  {
  padding:10px 10px 10px;
  }
  .navbar-inner ul li a
  {
  color:black;
  font-size:17px;
  font-weight:600;
  }
.navbar-inner ul li a:hover
{
text-decoration:none;
}









