.custom-button-container {
  margin: 1.5rem;
}
.lfr-objects__card {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(231, 231, 237);
  border-radius: 4px;
  margin: 1.5rem 1.5rem 1.5rem;

  &--inline {
    align-items: center;
    color:#ffc124;
    display: flex;
    font-weight: 600;
    gap: 1rem;
    margin: 0;
    padding: 1.5rem;
  }

  &--no-margin {
    margin: 0;
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;

    &--inline {
      align-items: center;
      flex-direction: row;
      gap: 1rem;
      padding: 0;

      .has-error {
        position: relative;
        top: 12px;
      }
    }

    &--no-padding {
      padding: 0;
    }
  }

  &-header {
    align-items: baseline;
    border-bottom: 1px solid rgb(231, 231, 237);
    display: flex;
    padding: 1.5rem;

    &-tooltip-icon {
      color: #ffcb48;
    }

    &-tooltip-icon:hover {
      color: #f3ae00;
    }
  }

  &-title {
    margin: 0;

    &--disabled {
      opacity: 0.5;
    }

    &--with-padding {
      padding: 8px 46px 8px 16px;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}
