.panel_content{
  background: #f7f8f9;
  min-height: 100vh;
}

.panel_header{
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #e7e7ed;
  display: flex;
  height: 65px;
  justify-content: space-between;
  padding: 0.25rem 0rem;
  position: sticky;

  z-index: 10;
}

.panel_title{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}